{{> head }}
{{> navbar }}
    


<div class="row">
    
    <div class="col-8">
        <h1>Capitan America</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla quod, modi libero iusto esse nam molestiae inventore, cupiditate harum voluptatum autem sequi, ad commodi. Omnis non pariatur id mollitia veniam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla quod, modi libero iusto esse nam molestiae inventore, cupiditate harum voluptatum autem sequi, ad commodi. Omnis non pariatur id mollitia veniam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla quod, modi libero iusto esse nam molestiae inventore, cupiditate harum voluptatum autem sequi, ad commodi. Omnis non pariatur id mollitia veniam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla quod, modi libero iusto esse nam molestiae inventore, cupiditate harum voluptatum autem sequi, ad commodi. Omnis non pariatur id mollitia veniam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla quod, modi libero iusto esse nam molestiae inventore, cupiditate harum voluptatum autem sequi, ad commodi. Omnis non pariatur id mollitia veniam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla quod, modi libero iusto esse nam molestiae inventore, cupiditate harum voluptatum autem sequi, ad commodi. Omnis non pariatur id mollitia veniam.</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/capitan-america.png" class="img-thumbnail" >
    </div>
    
</div>
   

{{> footer }}