{{> head }}


  {{> navbar }}
    <div class="jumbotron">
        <h1 class="display-4">Hola, {{ nombre }}!</h1>
        <p class="lead">Vamos a hacer grandes cosas</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione expedita non corrupti ut eos magnam incidunt impedit quidem. A excepturi at optio consequatur vitae corporis iusto impedit! Commodi, excepturi nobis!</p>
    </div>





{{> footer }}